<h1>Här hittar du alla böcker som finns tillgängliga i biblioteket, som du kan lägga till i ditt personliga bibliotek. Längst ner finns en knapp för att lägga till nya böcker. </h1>
<ul>
  <% @books.each do |book| %>
    <li><%= link_to book.title, book %></li>
      <li><p><%= truncate(book.body, length: 100) %></p></li>

      <li> <%= form_with model: @user_library do |f| %>
        <%= f.select :status, [['att läsa','att_läsa'],['läser','läser'],['läst ut','läst_ut']], include_blank: true %>
        <%= f.hidden_field :book_id, value: book.id %>
        <%= f.hidden_field :rating, value: 1 %>
        <%= f.submit "lägg till" %>
      <% end %></li>
  <% end %>
</ul>

<%= link_to "Lägg till ny bok", new_book_path %>